@model CosmeticFormModel

@{
    ViewData["Title"] = "Add";
}

<h1 class="text-center">Add Cosmetic</h1>
<hr />

<partial name="_CosmeticFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
