@model AccessoryFormModel

@{
    ViewData["Title"] = "Add";
}

<h1 class="text-center">Add Accessory</h1>
<hr />

<partial name="_AccessoryFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ProductFormScriptsPartial" />
}
