@model AccessoryFormModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Accessory</h1>
<hr />

<partial name="_AccessoryFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
