@using Microsoft.AspNetCore.Identity
@using Ashion.Infrastructure.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="icon_profile"></span></a>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="display: inline-block;">
        <button type="submit" class="nav-link btn btn-link text-dark" style="border: 0; padding: 0;"><a>Logout</a></button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
}
