@model ClothFormModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Cloth</h1>
<hr />

<partial name="_ClothFormPartial" model="@Model" />

@section Scripts{
        <partial name="_ValidationScriptsPartial" />
}
